<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Immune Detector</title>
    <link rel="stylesheet" href="static/fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="static/slick/slick.css">
    <link rel="stylesheet" href="static/slick/slick-theme.css">
    <link rel="stylesheet" href="static/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/templatemo-style.css" />

  </head>
  <body>
  
    <section id="hero" class="text-white tm-font-big tm-parallax">
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
        <div class="container">
          <div class="tm-next">
              <a href="#hero" class="navbar-brand">Immune Detector</a>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#introduction">Introduction</a>
              </li>
              <li class="nav-item">
              	 
        		<a class="nav-link tm-nav-link" href="#Check_immune" >Check Immune</a> 
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#Diet">Diet</a>
              </li>
             <!-- <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#About">About Us</a>
              </li> -->
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Welcome to Immune Detector</h2>
            <h3 class="tm-hero-subtitle">
              Find Your Immune On Your Own
            </h3>
            <br><br><h3 style="color:#006bb3;font-family:Times New Roman,Times,serif; font-size:40px; text-shadow: 0 0 3px #ccffff, 0 0 5px #006bb3;">{{Hello}} {{name}} {{ prediction_text }} <h3>
            <h3 style="color:#006bb3;font-family:Times New Roman,Times,serif; font-size:40px; text-shadow: 0 0 3px #ccffff, 0 0 5px #006bb3;">{{def_pred}}{{def_val}}<h3>
            <h3 style="color:#006bb3;font-family:Times New Roman,Times,serif; font-size:40px; text-shadow: 0 0 3px #ccffff, 0 0 5px #006bb3;">{{prediction_text2}}<h3>

            
        </div>
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#introduction" class="text-center tm-down-arrow-link">
          <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
        </a>
      </div>
    </section>

    <section id="introduction" class="tm-section-pad-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="static/img/the-town-01.jpg" alt="Image" class="img-fluid tm-intro-img" />
          </div>
          <div class="col-lg-6">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
                <p class="mb-4 tm-intro-text">
                  The Immune Detector is <strong>Immune Detector</strong> that helps us to detect our immune. The Immune Detector
                  uses parameters such as Rbc,Wbc,Hemoglobin,Mcv,Mch,Mchc,Neutro,Platelet counts for immune detection.
              </p>
                <p class="mb-5 tm-intro-text">
                  Prior detection of
 low immune can help person to improve immune in order to
 protect our body from harmful germs and viruses.
                  <a rel="" href=""></a>
                   </p>
                <div class="tm-next">
                  <div class="row">
                  <a href="#Check_immune" class="tm-intro-text tm-btn-primary">Check Immune</a>
                </div>
                <div class="btn-group" role="group" aria-label="Basic outlined example">

</div>
                <div class="tm-next">
                  <a href="https://www.betterhealth.vic.gov.au/health/conditionsandtreatments/immune-system" class="tm-intro-text tm-btn-primary">Read More</a>
                </div>
            </div>
          </div>
        </div>
        </div>

        <div class="row tm-section-pad-top">
          <div class="col-lg-4">
            <i class="fas fa-4x fa-bicycle text-center tm-icon"></i>
            <h4 class="text-center tm-text-primary mb-4"> Tips to strengthen your immunity naturally.</h4>
            <p>Get enough sleep.</p>
            <p>Eat more whole plant foods.</p>
            <p>Eat more healthy fats. </p>
            <p>Stay hydrated. </p>
            <p>Limit added sugars.</p>
          </div>

        <div class="col-lg-4 mt-5 mt-lg-0">
          <i class="fas fa-4x fa-city text-center tm-icon"></i>
          <h4 class="text-center tm-text-primary mb-4">What foods weaken immune system?</h4>
          <p>Soda.</p>
<p>Processed foods.</p>
<p>Foods and drinks high in sugar.</p>
<p>Refined carbohydrates.</p>
<p>Alcoholic beverages.</p>


        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
          <i class="fas fa-4x fa-bus text-center tm-icon"></i>
          <h4 class="text-center tm-text-primary mb-4">What are 5 signs of a weak immune system?</h4>
          
<p>Your Stress Level is Sky-High.</p>
<p>You Always Have a Cold.</p>
<p>You Have Lots of Tummy Troubles.</p>
<p>Your Wounds Are Slow to Heal.</p>
<p>You Have Frequent Infections.</p>

          
        </div>
      </div>
    </section>


<!-- Check_immune -->

       
    <section id="Check_immune" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Check Immune</h2>
              <p class="mx-auto tm-work-description">
              	Fill Following details to chech Immune
              </p>
               <div class="container">

        <form action="{{ url_for('predict')}}" method="post">

        <div class="mb-3 row my-5">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="name" name="nameid"  placeholder="Enter Your Name" required >
            </div>
        </div>

        <div class="mb-3 row my-5">
            <label for="sex" class="col-sm-2 col-form-label">Sex</label>
            <div class="col-sm-10" style="display: flex; flex-direction: row;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sex" id="exampleRadios1" value="Male" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Male
                    </label>
                </div>

                <div class="form-check mx-4">
                    <input class="form-check-input" type="radio" name="sex" id="exampleRadios2" value="Female">
                    <label class="form-check-label" for="exampleRadios2">
                        Female
                    </label>
                </div>
            </div>
        </div>

        <div class="mb-3 row my-5">
            <label for="rbc" class="col-sm-2 col-form-label">RBC</label>
            <div class="col-sm-10">
                <input type="text" name="rbc" class="form-control" id="rbc"  placeholder="Enter Your RBC counts" required>
            </div>
        </div>

        <div class="mb-3 row my-5">
            <label for="wbc" class="col-sm-2 col-form-label">WBC</label>
            <div class="col-sm-10">
                <input type="text" name="wbc" class="form-control" id="wbc" placeholder="Enter Your WBC counts" required>
            </div>
        </div>

        <div class="mb-3 row my-5">
            <label for="hemo" class="col-sm-2 col-form-label">Hemo</label>
            <div class="col-sm-10">
                <input type="text" name="Hemo" class="form-control" id="hemo" placeholder="Enter Your hemoglobin counts" required>
            </div>
        </div>

        <div class="mb-3 row my-5">
            <label for="mcv" class="col-sm-2 col-form-label">MCV</label>
            <div class="col-sm-10">
                <input type="text" name="mcv" class="form-control" id="mcv" placeholder="Enter Your MCV counts" required>
            </div>
        </div>

        <div class="mb-3 row my-5">
            <label for="mch" class="col-sm-2 col-form-label">MCH</label>
            <div class="col-sm-10">
                <input type="text" name="mch" class="form-control" id="mch" placeholder="Enter Your MCH counts" required>
            </div>
        </div>

        <div class="mb-3 row my-5">
            <label for="mchc" class="col-sm-2 col-form-label">MCHC</label>
            <div class="col-sm-10">
                <input type="text" name="mchc" class="form-control" id="mch" placeholder="Enter Your MCHC counts" required>
            </div>
        </div>

        <div class="mb-3 row my-5">
            <label for="neutro" class="col-sm-2 col-form-label">Neutro</label>
            <div class="col-sm-10">
                <input type="text" name="Neutro" class="form-control" id="neutro" placeholder="Enter Your Neutro counts" required>
            </div>
        </div>

        <div class="mb-3 row my-5">
            <label for="platelet" class="col-sm-2 col-form-label">Platelet</label>
            <div class="col-sm-10">
                <input type="text" name="platlet" class="form-control" id="platelet" placeholder="Enter Your Platelets counts" required>
            </div>
        </div>
<center>
        <div class=" align-items-center">
            <button id="sub" type="submit " class="btn btn-primary" style="background-color: 007bff; color: white; border-radius: 20px;content:center;" >Submit</button>
        </div>
 </center>
        </form>
        <br></br>
      
        <h3>{{Hello}} {{name}} {{ prediction_text }} <h3>
        <h3>{{def_pred}}{{def_val}}<h3>
        <h3>{{prediction_text2}}<h3>
    </div>

          </div>
        </div>
        
      </div>
    </section>



<!-- Diet -->
    <section id="Diet" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Diet</h2>
              <p>Immune Boosters</p>
              <p>Food which will Increase your Immune</p>
              <p class="mx-auto tm-work-description">
                <div class="card-group">

  <div class="card">
    <img src="static/img/1_fruit.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Citrus fruits</h5>
      <p class="card-text">Vitamin C build up your immune system.
Vitamin C is thought to increase the production of white blood cells, which are key to fighting infections.
Popular citrus fruits include:grapefruit,oranges,clementines,tangerines,lemons,limes.</p>
    </div>
   
  </div>
  <div class="card">
    <img src="static/img/2.red_bell.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Red bell peppers</h5>
      <p class="card-text">If you think citrus fruits have the most vitamin C of any fruit or vegetable, think again. Ounce for ounce, red bell peppers contain almost 3 times as much vitamin C (127 mgTrusted Source) as a Florida orange (45 mgTrusted Source). They’re also a rich source of beta carotene.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/img/3-Broccoli.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Broccoli</h5>
      <p class="card-text">Broccoli is supercharged with vitamins and minerals. Packed with vitamins A, C, and E, as well as fiber and many other antioxidants, broccoli is one of the healthiest vegetables you can put on your plate.</p>
    </div>
  </div>
</div>
              </p>
              <p class="mx-auto tm-work-description">
                <div class="card-group">
  <div class="card">
    <img src="static/img/4.Garlicbody.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Garlic</h5>
      <p class="card-text">Garlic is found in almost every cuisine in the world. It adds a little zing to food and it’s a must-have for your health.

Early civilizations recognized its value in fighting infections. Garlic may also slow down hardening of the arteries, and there’s weak evidence that it helps lower blood pressure.</p>
    </div>
   
  </div>
  <div class="card">
    <img src="static/img/5-ginger.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ginger</h5>
      <p class="card-text">Ginger is another ingredient many turn to after getting sick. Ginger may help decrease inflammation, which can help reduce a sore throat and inflammatory illnesses. Ginger may help with nausea as well.

While it’s used in many sweet desserts, ginger packs some heat in the form of gingerol, a relative of capsaicin.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/img/6-Spinach.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Spinach</h5>
      <p class="card-text">Spinach made our list not just because it’s rich in vitamin C — it’s also packed with numerous antioxidants and beta carotene, which may both increase the infection-fighting ability of our immune systems..</p>
    </div>
  </div>
</div>
              </p>
              <p class="mx-auto tm-work-description">
                <div class="card-group">
  <div class="card">
    <img src="static/img/7-Yogurt.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Yogurt</h5>
      <p class="card-text">Look for yogurts that have the phrase “live and active cultures” printed on the label, like Greek yogurt. These cultures may stimulate your immune system to help fight diseases.</p>
    </div>
   
  </div>
  <div class="card">
    <img src="static/img/8-almonds.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Almonds </h5>
      <p class="card-text">When it comes to preventing and fighting off colds, vitamin E tends to take a backseat to vitamin C. However, this powerful antioxidant is key to a healthy immune system.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/img/9-Turmeric.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Turmeric</h5>
      <p class="card-text">You may know turmeric as a key ingredient in many curries. This bright yellow, bitter spice has also been used for years as an anti-inflammatory in treating both osteoarthritis and rheumatoid arthritis.</p>
    </div>
  </div>
</div>
              </p>

           <p class="mx-auto tm-work-description">
                <div class="card-group">
  <div class="card">
    <img src="static/img/10-Green-tea.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Green tea</h5>
      <p class="card-text">Both green and black teas are packed with flavonoids, a type of antioxidant. Where green tea really excels is in its levels of epigallocatechin gallate (EGCG), another powerful antioxidant.</p>
    </div>
   
  </div>
  <div class="card">
    <img src="static/img/11-Papaya.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Papaya</h5>
      <p class="card-text">Papaya is another fruit loaded with vitamin C. You can find doubleTrusted Source the daily recommended amount of vitamin C in a single medium fruit. Papayas also have a digestive enzyme called papain that has anti-inflammatory effects.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/img/12-kiwi.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Kiwi</h5>
      <p class="card-text">Like papayas, kiwis are naturally full of a ton of essential nutrients, including folate, potassium, vitamin K, and vitamin C.

Vitamin C boosts the white blood cells to fight infection, while kiwi’s other nutrients keep the rest of your body functioning properly.</p>
    </div>
  </div>
</div>
              </p>
          </div>
        </div>
        
      </div>
    </section>
    <!-- About Us 
    <section id="About" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">About Us</h2>
              <p class="mx-auto tm-work-description">
                "Work In Progress"
              </p>
             
<div class="container" id="About">
	<div class="row">
		<div class="col-md-12">
			<div class="main_heading">
				<div  class="text-center"><span class="underline"></span></div>
			</div>
		</div>
	</div> 


	<div class="row">
		<div class="col-md-4 about-us-box wow fadeInUp animated">
		    <div class="about-us-photo">
		    	<div class="about-us-role">Developer</div>
		    </div>
		    <h3>Jayant Deshmukh</h3>
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
		</div>

		<div class="col-md-4 about-us-box wow fadeInUp animated">
		    <div class="about-us-photo">
		    	<img src="static/images/2.jpg" alt="">
		    	<div class="about-us-role">Developer</div>
		    </div>
		    <h3>Rajan Saroj</h3>
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
		</div>

		<div class="col-md-4 about-us-box wow fadeInUp animated">
		    <div class="about-us-photo">
		    	<div class="about-us-role">Developer</div>
		    </div>
		    <h3>Sanket kaspate</h3>
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
		</div> -->

		<!-- End row -->

</div><!-- End container -->	
<!-- End About -->

          </div>
        </div>
        
      </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-container-contact">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4 tm-section-title">Contact Us</h2>
                <div class="mb-5 tm-underline">
                  <div class="tm-underline-inner"></div>
                </div>
                <p class="mb-5"><center>
                  Feel Free to reach us at following details for any query...  
                </center></p>
            </div>

            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="tel:" class="tm-contact-item-link">
                  <i class="fas fa-3x fa-phone mr-4"></i>
                  <span class="mb-0">1234-567-890</span>
              </a>
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="" class="tm-contact-item-link">
                  <i class="fas fa-3x fa-envelope mr-4"></i>
                  <span class="mb-0">info@company.com</span>
              </a>
            </div>

        </div>
      </div>
      <footer class="text-center small tm-footer">
          <p class="mb-0">
           @Immune Detector

             <a rel="nofollow" href="" class="tm-footer-link"></a>
          </p>
        </footer>
    </section>
    <script src="static/js/jquery-1.9.1.min.js"></script>
    <script src="static/slick/slick.min.js"></script>
    <script src="static/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="static/js/jquery.singlePageNav.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script>


      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        }
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        $(window).scroll(function(){
          var firstTop = $object.offset().top,
              pos = $(window).scrollTop(),
              yPos = Math.round((multiplier * (firstTop - pos)) - 186);

          var bg_css = 'center ' + yPos + 'px';

          $object.css({"background-position" : bg_css });
        });
      };

      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);

        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });

        // Close mobile menu after click
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show');
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav();

        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 400, function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });


</script>
    </script>
    <script>
   var obj_load_one={% if set_tab==1%}1{%else%}0{%endif%};
   tab_load_one=(obj_load_one?"Check_immune":"#");

   $(document).ready(function () {
       if(location.hash || obj_load_one) {
       $('a[href=' + (location.hash ||  tab_load_one) + ']').tab('show');
       }
    });

</script>
  </body>
</html>
